* {
    background: #1E1E1E;
    color: whitesmoke;
}

body {
    background: #1E1E1E;
    color: whitesmoke;
    padding-right: 10px;
    padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    width:100%;
    text-align:center;
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 0;
}

.form-control {
    margin-top: 5px;
}

.btn {
    margin-top: 5px;
    width: 49%;
}

.btn-cancel {
    float: right;
    margin-left: 2px;
}

.btn-ok {
    margin-right: 2px;
}